<div class="col-md-11 col-md-offset-1">
	<img style="margin-bottom:30px" src="http://static.wixstatic.com/media/ab83cc_68b985b2aee44d23b483f1bca5663a6b.png_srz_p_978_339_75_22_0.50_1.20_0.00_png_srz">
</div>

<div class="col-md-8 col-md-offset-1">
	<ul class="nav nav-tabs">
	  <li role="presentation" ng-class="{active:showValues.overview}"><a href="#about/overview">Overview</a></li>
	  <li role="presentation" ng-class="{active:showValues.founders}"><a href="#about/founders">Founders</a></li>
	  <li role="presentation" ng-class="{active:showValues.team}"><a href="#about/team">Team</a></li>
	</ul>
</div>
<div class="containerFluid">
	<div ng-show="showValues.overview" class="col-md-6 col-md-offset-1">
		<h2>REVOLUTIONARY ALGORITHMIC TRADING FIRM</h2>
		<p>
			Intelagent is a revolutionary proprietary algorithmic trading firm aiming at systematically beating the market and bringing significant revenue while maintaining low risk and keeping a low profile. Our culture dictates striking the right balance between the potential risks and rewards of any given trade. We are constantly striving to hit the equilibrium point that leads to the best risk-return ratio.We differentiate ourselves in our ability to combine top tier financial capabilities with state of the art technology and extraordinary machine learning techniques. Our focus is not limited to any asset class or market and we are constantly expanding our global reach.The firm operates from its Israeli offices, taking advantage of the strong technological culture and financial access. We extended to all the major global markets on the different exchanges and liquidity sources.
		</p>
	</div>

	<div ng-show="showValues.founders">
		<div class="col-md-6 col-md-offset-1" style="margin-top: 15px">
			<p>
				The firm was founded by a group of traders and technologists specializing in quantative algorithmic and systematic trading. This strong combination proves to
				bring synergy into the trading process and lays the foundations for the idea and its implementation. The vast, multi-disciplinary, experience acquired over the past decade adds finesse to the thought process and delivery of the firm's strategies. 
			</p>
		</div>
		<div class="col-md-4 col-md-offset-2">
			<h3>Micky Sapir</h3>
			<h4>CEO</h4>
			<p>
				Electronic Trading specialist with a decade of cross position experience that includes managing different strategies and solutions, hands on experience in portfolio and algorithmic trading, software development background and managing electronic trading products.
			</p>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<h3>Uri Bar</h3>
			<h4>CIO</h4>
			<p>
				Senior derivatives trader with multi asset experience and in depth understanding of global markets. Strong technology oriented skills combines with running financial operation for a few companies.
				Active lecturer in financial executive education courses.  
			</p>
		</div>
	</div>

	<div ng-show="showValues.team" class="col-md-6 col-md-offset-1">
		<h2>TALENTED EXPERTS WITH A PASSION TO EXPLORE AND DRIVE CHANGE</h2>
		</p>
			Intelagent is dedicated to building a carefully selected team of highly talented individuals, each among the very best in their field, as the firm’s focus is on quality rather than quantity.
			Our staff includes experts from both the technology and the financial worlds trained in a variety of disciplines from global tier 1 institutions. The team's multitalented interaction brings significant added value in the development of new ideas and solutions.
			We are always looking for highly talented individuals with a passions to perform and
			a drive to deliver and excel.
		</p>
	</div>
</div>