<table ng-table class="bordered">
    <thead>

    <tr>
      <th></th>
      <th></th>
      <th>מחיר ביצוע</th>
      <th>כמות ביצוע</th>
      <th>סטטוס</th>
      <th>יעד</th>
      <th>אסטרטגיה</th>
      <th>לימיט</th>
      <th>כמות</th>
      <th>פעולה</th>
      <th>מניה</th>
        
    </tr>
    </thead>
  <tr ng-repeat="transaction in transactions">
    <td>Update</td>
    <td>Abort</td>
    <td>{{transaction.delivered_price}}</td>
    <td>{{transaction.delivered_quantity}}</td>
    <td>{{transaction.status}}</td>
    <td>{{transaction.target}}</td>
    <td>{{transaction.strategy}}</td>
    <td>{{transaction.limit}}</td>
    <td>{{transaction.quantity}}</td>
    <td>{{transaction.action}}</td>
    <td>{{transaction.name}}</td>
  </tr>
</table>