<div class="row">
	<div class = "mapOfUs col-md-10 col-xs-12">
		<iframe src="http://static.parastorage.com/services/santa/1.464.47//static/external/googleMap.html?address=hahilazon%205&amp;addressInfo=Intel%20Agent%20HQ&amp;mapType=ROADMAP&amp;mapInteractive=true&amp;showZoom=true&amp;showPosition=true&amp;showStreetView=true&amp;showMapType=true&amp;lat=32.0871149&amp;long=34.8042246" width="100%" height="100%" frameborder="0" scrolling="no" ></iframe>
	</div>
</div>

<div class = "row lgScreenChgContact">
	<div class = "col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2 col-xs-4 contactUsInfo">
		<h2>CONTACT US</h2>
		<h4>INTELAGENT</h4></br>
		<p>Hahilazon 5 st.</p>
		<p>Ramat Gan, Israel. 12345</p>
		<p>info@intel-agent.com</p>
		<p>Tel: +972 3 648 9378</p>
	</div>
	
	<div class = "col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-2 col-xs-7 col-xs-offset-1">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Name</span>
			<input type="text" class="form-control" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Mail</span>
			<input type="text" class="form-control" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Subject</span>
			<input type="text" class="form-control" aria-describedby="basic-addon1">
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Message</span>
			<textarea type="text" class="form-control" style="height: 140px"></textarea>
		</div>
		<button type="button" class="btn btn-warning btn-md" style="float:right">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span>   Send
		</button>
	</div>
</div>
			