<div class = "FormTextFirst">
    <p> כמות היצע</p>
    <p> כמות ביקוש </p>
    <p> מחיר היצע</p>
    <p> מחיר ביקוש</p>
    <p> שינוי ב-%</p>
    <p> מחיר אחרון</p>
    </div>
      <form class="first">
    <input type = "text" disabled value = "0">
    <input type = "text" disabled value = "0">
    <input type = "text" disabled value = "0">
    <input type = "text" disabled value = "0">
    <input type = "text" disabled value = "0">
    <input type = "text" disabled value = "0">
    </form>
<div class="FormTextSecond">
    <p> יעד</p>
    <p> אסטרטגיה</p>
    <p>לימיט</p>
    <p>כמות</p>
    <p>פעולה</p>
  </div>
  <form class="second">
    <select>
      <option>קרוס</option>
      <option>דרק פול</option>
    </select>
    <select>
      <option>אגרסיבי</option>
      <option>פסיבי</option>
    </select>
    <input type = "text">
    <input type = "text">
    <select>
      <option>קנייה</option>
      <option>מכירה</option>
    </select>
  </form>