<div class="containerFluid">	
	<div class="col-md-8 col-md-offset-1">
		<img style="margin-bottom:30px" src="http://static.wixstatic.com/media/ab83cc_341c4c7e242c40b390b6bcebf1762dd5.jpg_srz_p_978_339_75_22_0.50_1.20_0.00_jpg_srz">
	</div>

	<div class="col-md-8 col-md-offset-1">
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{active:showValues.overview}"><a href="#/what-we-do/overview">Overview</a></li>
		  <li role="presentation" ng-class="{active:showValues.strategy}"><a href="#/what-we-do/strategy">Strategy</a></li>
		  <li role="presentation" ng-class="{active:showValues.infrastructure}"><a href="#/what-we-do/infrastructure">Infrastructure</a></li>
		</ul>
	</div>


	<div ng-show="showValues.overview" class="col-md-6 col-md-offset-1">
		<h2>GLOBAL MULTI-ASSET TRADING</h2>
		</p>
			Intelagent’s emphasis is on high return opportunities coupled with a sustainable risk-adverse approach. The firm is trading globally using different assets and financial vehicles to achieve the best equilibrium between the risk and potential reward.
			Our systematic decision making process brings into play large amounts of different indicators and gauges to support a trading decision. We also utilize sophisticated post trade analytic tools that have direct feedback to the machine learning engine, thus, we are getting better from every trade.
		</p>
	</div>

	<div ng-show="showValues.strategy" class="col-md-6 col-md-offset-1">
		<h2>THE RIGHT SET OF AGENTS FOR THE JOB</h2>
		</p>	
			Intelagent employs the ground breaking “agents” concept to make the perfect trade. The concept approaches the trading task from a variety of angles. It allows each aspect of trading to be cover individually, pushing it to perfection, while keeping a view of the macro picture. It also has the trading flow segmented; hence execution, positions and risk managements are getting the correct focus under any circumstance. The “agents” concept is strongly partnered with artificial intelligence and machine learning capabilities to compile a set of winning strategies that will fulfil the firm’s goals.Each strategy is thoroughly tested and reviewed as we put our emphasis on the qualityof execution and risk aversion.
		</p>
	</div>

	<div ng-show="showValues.infrastructure" class="col-md-6 col-md-offset-1">
		<h2>TECHNOLOGY - THE BASE OF OUR BUSINESS</h2>
		<p>
			Intelagent have been spending a lot of its focus on developing a powerful, flexible and resilient infrastructure to support the growing business demand.
			To build out proprietary trading platform, we came up with agile processed that meet the various requirements while keeping errors to minimum.Overall, we use cutting edge hardware and software to conduct our trading activities and have built-in controls and safeguards to mitigate risk.
		</p>
	</div>
</div>