IntelAgentWebApi/IntelAgentWebApi.v12.suo
*.suo
IntelAgentWebApi/IntelAgentWebApi/App_Data/aspnet-IntelAgentWebApi-20150417031602.mdf
*.ldf
IntelAgentWebApi/IntelAgentWebApi/bin/IntelAgentWebApi.pdb
*.cache
*.pdb
*.suo

Angular/
Client/.idea/
intelAgentWebApi/.idea/