/* Put your css in here */

html{
	background-color:black;
}

body {
    padding: 10px;
	background-color:black !important;
}

.logo{
  padding-bottom:20px;
}

.ng-table {
    border: 1px solid #000;
}
.FormTextFirst{
  text-align:center;
  background-color:black;
}

.container h1{
	position: absolute;
	margin-left: 167px;
	margin-top:0px;
	font-size: 60px;
	font-weight: bold;
	color: white;
}

.readOnlyTextFirst h2{
	top: 209px;
	right: 638px;
	position: absolute;
	margin-top: 0;
	font-size: 60px;
	font-weight: bold;
	color: white;
}

.loginView form{
	display:table-caption;
}

.loginView form input{
  margin-bottom: 15px;
  margin-left: 15px;
  width: 250px;
  border-radius: 1px;
  text-indent: 10px;
}

.mainView  input{
	margin-right:10px;
	width:100px;
}

.submitBtnPlace{
	left:26px;
	top:13px;
}

header{
	background-color:black;
}

.FormTextSecond  input[type="submit"] {
	padding-left: 32px;
}

footer{
	background-color:black;
}

hr{
	display:block;
	margin: auto 0.5em;
	border-style:inset;
	border-width:1px;
	padding-top:10px;
	border-color:#444;
} 

loginView{
	background-color:black;
}

.mainView{
	background-color:black;
}

.submitBtn{

   width: 114px;
   height: 80px;
   font-size: 26px;
   color: white;
   margin-right:55px;
   padding-right:27px;
   cursor: pointer;
}

.row{
	margin-bottom: 20px;
}

.FormTextSecond{
  text-align:center;
  background-color:black;
  margin-top: 30px;
}

.FormTextSecond  p {
  border: 1px solid black;
  background-color:black;
  color:white;
}

.action .stockOption{
  float:right;
  background-color:white;
}

.readOnlyText input{
	text-align:center;
	width:110px;
	display:inline;
	border-radius: 4px;
}

.readOnlyTextFirst p{
	width:110px;
	border:1px solid white;
	color:white;
	background-color:grey;
	padding-right:5px;
	margin-left:27px;
	border-radius: 4px;
}

.readOnlyTextSecond2 p{
	border:1px solid white;
	color:white;
	background-color:grey;
	border-radius: 4px;
	margin-left:28px;
	width:110px;
}

.readOnlyTextSecond input{
	text-align:center;
	width:110px;
	display:inline;
	border-radius:4px;
}

.readOnlyTextSecond select{
	text-align:center;
	width:110px;
	display:inline;
	border-radius: 4px;
}

.readOnlyTextSecond {
  margin-top: 10px;
}

.first{
  display:inline;
  background-color:black;
}

.second{
  display:inline;
  background-color:black;

}
