body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	background-color: #eee;
}

.LanguageImages img{
	width:20px;
	line-height:20px;
	position:absolute;
	left:650px;
}
	  
.action{
  margin-bottom: 20px;
  background-color: #D6D6D6;
  font-weight:bold;
  font-family:sans-serif;
}

.error p{
	color: red;
	font-family:Arial;
	font-weight:bold;
}

.tableBoot{
	  margin-left: 73px;
	  width:85%;
	  text-align:center;
}

.tableBoot th{
	text-align:center;
	width:100px;
}

.tableBoot td img{
	width:27px;
	cursor: pointer;
}

.tableBoot input[type="text"]{
	border-radius: 4px;
	background-color: white;
	width: 83px;
	font-family: sans-serif;
	text-align:center;
}

.containerAction{
	  margin-bottom: -30px;
}

.redBG{
	background-color:red !important;
}

.greenBG{
	background-color:green !important;
}

.navbar-nav li{
	bottom:-20px;
}

.navbar-nav{
	margin-left: 20px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.containerFluid h2{
	font:normal normal bold 27px jura,sans-serif;
	color:#F17300;
}

.containerFluid h3{
	  font-weight: bold;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.inputFromSrcHeadLine input[type="text"]{
	border: none;
	width: 133px;
	border-radius: 10px;
	background-color: #bebebe;
	line-height: 20px;
	text-align: center;
}

.inputFromSrcHeadLine {
	border-radius: 4px;
	background-color: #D6D6D6;
	font-family: sans-serif;
	font-weight: bold;
	width: 101%;
	text-align: center;
	line-height: 26px;
	padding-bottom: 75px;
}

.selectStock{
	margin-right: -25px;
}

.inputFromUserForm p{
  border-radius: 4px;
  background-color: #D6D6D6;
  width: 131px;
  font-family: sans-serif;
  font-weight: bold;
}

.inputFromUserForm .Target p{
	margin-left: 17px;
}

.inputFromUserForm .Target select{
	margin-left: 5px;
}

.inputFromUserForm .Strategy p{
	margin-left: 19px;
}

.inputFromUserForm .Strategy select{
	margin-left: 9px;
}

.inputFromUserForm .Limit p{
	margin-left: 22px;
}

.inputFromUserForm .Limit select{
	margin-left: 14px;
}

.inputFromUserForm .Quantity p{
	margin-left: 24px;
}

.inputFromUserForm .Quantity input[type="text"]{
	margin-left: 18px;
}

.inputFromUserForm .Action select{
	margin-left: 20px;
}

.inputFromUserForm .Action p{
	margin-left: 25px;
}

.inputFromUserForm{
  margin-top: 12px;
  margin-bottom: 70px;
  text-align: center;
  margin-top: 20px;
}

.inputFromUserForm select, .inputFromUserForm input[type="text"]{
  width: 130px;
  background-color: #D6D6D6;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 11px;
}

.inputFromUserForm input[type="text"]{
	line-height:17px;
	margin-left: 22px;
	margin-bottom: 60px;
}

.inputFromUserForm .OtherTextLimit{
	position: absolute;
	top: 50px;
	left: 16px;
}

.inputFromUserForm input[type="submit"]{
  width: 131px;
  line-height: 40px;
}

.contactUsInfo h2{
	color:#F17300;
	font:normal normal bold 29px jura,sans-serif;
}

.contactUsInfo h4{
  font-weight: 800;
  color: grey;
}

.row h3{
  font-size: 23px;
  font-weight: 700;
}

.mapOfUs{
	height: 318px;
	width: 979px;
	left: 155px;
}

.row .input-group{
	margin-top:20px;
}

.table-responsive{
	margin-bottom:150px;
}

h1{
  font-weight: bold;
  font-size: 45px;
  font-family: sans-serif;
}

footer {
    padding: 30px 20px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

@media only screen and (min-width:1224px) {	
	.mdScreenChgLogin{
		margin-bottom:370px;
	}

	.mdScreenChgRegister{
		margin-bottom:350px;
	}
	
	.containerFluid{
		padding-bottom:700px;
	}
}

@media only screen and (min-width:1624px) {
	.mapOfUs{
		height: 340px;
		width: 1100px;
		left: 265px;
	}
	
	.lgScreenChgContact{
		margin-bottom:80px;
	}
	
	.lgScreenChgLogin{
		margin-bottom:520px;
	}
	
	.lgScreenChgRegister{
		margin-bottom:500px;
	}
	
	.containerFluid{
		padding-bottom:800x;
	}
	
	.table-responsive{
	margin-bottom:383px;
}
}

@media(max-width:680px){
	.navbar-brand img{
		height:50px;
	}
	
	.LanguageImages img {
	  left: 250px;
	  }
	
	.mapOfUs{
		height: 250px;
		width: 350px;
		left:0px;
	}
	
	.inputFromUserForm .Target p{
		margin-left: 0px;
	}

	.inputFromUserForm .Target select{
		margin-left: 0px;
	}

	.inputFromUserForm .Strategy p{
		margin-left: 0px;
	}

	.inputFromUserForm .Strategy select{
		margin-left: 0px;
	}

	.inputFromUserForm .Limit p{
		margin-left: 0px;
	}

	.inputFromUserForm .Limit select{
		margin-left: 0px;
	}

	.inputFromUserForm .Quantity p{
		margin-left: 0px;
	}

	.inputFromUserForm .Quantity input[type="text"]{
		margin-left: 0px;
	}

	.inputFromUserForm .Action select{
		margin-left: 0px;
	}

	.inputFromUserForm .Action p{
		margin-left: 0px;
	}
	
	.selectStock{
		margin-right: 57px;
	}
	
	.inputFromUserForm .OtherTextLimit{
		position: absolute;
		top: 50px;
		left: 16px;
	}
	
	.inputFromUserForm select, .inputFromUserForm input[type="text"]{
		  width:100%;
		  margin-bottom: 20px;
		  margin-right: -6px;
	}
		
	.inputFromSrcHeadLine {
		padding-bottom: 190px;
	}
	
	.inputFromUserForm input[type="submit"]{
		  margin-right: -13px;
		  width: 100%;
		  margin-bottom: 50px;
	}

	.inputFromUserForm p{
		  width:100%;
	}
	
	.inputFromSrcHeadLine input[type="text"]{
		width:100%;
	}
}