<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://intelagentdarkpool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>intelagentdarkpool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IntelAgentDarkPool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IntelAgentDarkPool</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntelAgentWebApi.DAL.Entities, IntelAgentWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntelAgentWebApi.Models.ApplicationDbContext, IntelAgentWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StockActionEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=sql4.freemysqlhosting.net;user id=sql483532;database=sql483532;password=uC7%cD1*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StockActionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DAL.StockActionModel.csdl|res://*/DAL.StockActionModel.ssdl|res://*/DAL.StockActionModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql4.freemysqlhosting.net;user id=sql483532;database=sql483532;password=uC7%cD1*&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sql483532Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=sql4.freemysqlhosting.net;user id=sql483532;database=sql483532;password=uC7%cD1*;persistsecurityinfo=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sql483532Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DAL.StocksActionDB.csdl|res://*/DAL.StocksActionDB.ssdl|res://*/DAL.StocksActionDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql4.freemysqlhosting.net;user id=sql483532;database=sql483532;password=uC7%cD1*;persistsecurityinfo=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
  </ItemGroup>
</Project>